In [1]:
# import libraries

import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np 
import matplotlib.cm as cm
import matplotlib.colors as colors
# import k-means from clustering stage
from sklearn.cluster import KMeans

import requests 
import time
from bs4 import BeautifulSoup
from urllib.request import urlopen
import json # If reading in data from Json file
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
#!conda install -c conda-forge folium=0.5.0 
import folium # maps
#!conda install -c conda-forge geopy 
from geopy.geocoders import Nominatim # address to lat/long



from sklearn.preprocessing import StandardScaler, normalize, scale
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.decomposition import PCA
from sklearn.metrics import mean_squared_error, r2_score

print('Complete')

Complete

In [2]:
# Read in data from json file
# with open('sf_neighborhoods-geojson.json') as sf_geo_json:
#     sf_geo_data = json.load(sf_geo_json)

In [3]:
# sf_geo_data

In [4]:
# sf_geo_list = sf_geo_data['features']

# # Preview
# sf_geo_list[0]

In [5]:
# Convert data into df
# define the dataframe columns
# column_names = ['Neighborhood', 'Latitude', 'Longitude'] 

# # instantiate the dataframe
# neighborhoods = pd.DataFrame(columns=column_names)

#  Obtain Data

#### Scrape Wikipedia for Location of Cities in the Bay Area

In [6]:
# Obtain location data from Wikipedia
# https://stackoverflow.com/questions/54890708/scraping-data-from-wikipedia-table

url= 'https://en.wikipedia.org/wiki/List_of_cities_and_towns_in_the_San_Francisco_Bay_Area'  #'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

df=pd.read_html(url, header=1)[0]

df.head()

,Name,Type,County,Population (2010)[8][9],sq mi,km2,Incorporated[7]
0,Alameda,City,Alameda,73812,10.61,27.5,"April 19, 1854"
1,Albany,City,Alameda,18539,1.79,4.6,"September 22, 1908"
2,American Canyon,City,Napa,19454,4.84,12.5,"January 1, 1992"
3,Antioch,City,Contra Costa,102372,28.35,73.4,"February 6, 1872"
4,Atherton,Town,San Mateo,6914,5.02,13.0,"September 12, 1923"

#### Explore Data

In [7]:
df.dtypes

Name                        object
Type                        object
County                      object
Population (2010)[8][9]      int64
sq mi                      float64
km2                        float64
Incorporated[7]             object
dtype: object

In [8]:
df.isnull().sum()

Name                       0
Type                       0
County                     0
Population (2010)[8][9]    0
sq mi                      0
km2                        0
Incorporated[7]            0
dtype: int64

In [9]:
df.shape

(101, 7)

In [10]:
df.describe()

       Population (2010)[8][9]       sq mi         km2
count               101.000000  101.000000  101.000000
mean              63867.495050   14.261485   36.932673
std              128098.742373   20.664719   53.522265
min                1792.000000    0.520000    1.300000
25%               11254.000000    4.110000   10.600000
50%               29926.000000    9.140000   23.700000
75%               69516.000000   16.470000   42.700000
max              945942.000000  176.530000  457.200000

In [11]:
# Rename columns

df.rename(columns={
    'Population (2010)[8][9]': 'population',
    'Incorporated[7]': 'incorporated',
    'Name': 'city/town'
}, inplace=True)

In [12]:
df.head(1)

  city/town  Type   County  population  sq mi   km2    incorporated
0   Alameda  City  Alameda       73812  10.61  27.5  April 19, 1854

In [13]:
df.columns = [c.replace(' ', '_').lower() for c in df.columns]
df.head()

,city/town,type,county,population,sq_mi,km2,incorporated
0,Alameda,City,Alameda,73812,10.61,27.5,"April 19, 1854"
1,Albany,City,Alameda,18539,1.79,4.6,"September 22, 1908"
2,American Canyon,City,Napa,19454,4.84,12.5,"January 1, 1992"
3,Antioch,City,Contra Costa,102372,28.35,73.4,"February 6, 1872"
4,Atherton,Town,San Mateo,6914,5.02,13.0,"September 12, 1923"

# Obtain Location Data

In [14]:
address = 'Santa Clara, California'

geolocator = Nominatim(user_agent = "foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of {} are {}, {}.'.format(address, latitude, longitude))

The geograpical coordinate of Santa Clara, California are 37.2333253, -121.6846349.

In [15]:
# for name in df['name']:
#     address = name + ', California'
#     print(address)

In [16]:
lats = []
longs = []
    
for name in df['city/town']:
    address = name + ', California'
    geolocator = Nominatim(user_agent = "foursquare_agent")
    location = geolocator.geocode(address)
    latitude = location.latitude
    longitude = location.longitude
    lats.append(latitude)
    longs.append(longitude)
#     for lat in lats:
#         for name in df['name']:
#             df['latitude'] = latitude
#     for long in longs:
#         for name in df['name']:
#             df['longitude'] = longitude
#     print('The geograpical coordinate of {} are {}, {}'.format(address, latitude, longitude))

In [17]:
print('The dataframe has {} Counties and {} Cities or Towns.'.format(
        len(df['county'].unique()),
        df.shape[0]
    )
)

The dataframe has 9 Counties and 101 Cities or Towns.

In [18]:
# Locate county with enough cities to compare (Looking for ~10-15)

df['county'].value_counts()

San Mateo        20
Contra Costa     19
Santa Clara      15
Alameda          14
Marin            11
Sonoma            9
Solano            7
Napa              5
San Francisco     1
Name: county, dtype: int64

In [19]:
# Populate df with lat/long

df['latitude'] = lats
df['longitude'] = longs
df.tail()

,city/town,type,county,population,sq_mi,km2,incorporated,latitude,longitude
96,Vallejo,City,Solano,115942,30.67,79.4,"March 30, 1868",38.104086,-122.256637
97,Walnut Creek,City,Contra Costa,64173,19.76,51.2,"October 21, 1914",37.902073,-122.061870
98,Windsor,Town,Sonoma,26801,7.27,18.8,"July 1, 1992",38.547133,-122.816380
99,Woodside,Town,San Mateo,5287,11.73,30.4,"November 16, 1956",37.429939,-122.253856
100,Yountville,Town,Napa,2933,1.53,4.0,"February 4, 1965",38.402201,-122.359506

In [20]:
# View cities in Santa Clara County
df[df['county']=='Santa Clara']

,city/town,type,county,population,sq_mi,km2,incorporated,latitude,longitude
13,Campbell,City,Santa Clara,39349,5.80,15.0,"March 28, 1952",37.287063,-121.944882
20,Cupertino,City,Santa Clara,58302,11.26,29.2,"October 10, 1955",37.322893,-122.032290
32,Gilroy,City,Santa Clara,48821,16.15,41.8,"March 12, 1870",37.006508,-121.563172
41,Los Altos,City,Santa Clara,28976,6.49,16.8,"December 1, 1952",37.379063,-122.116578
42,Los Altos Hills,Town,Santa Clara,7922,8.80,22.8,"January 27, 1956",37.379663,-122.137464
43,Los Gatos,Town,Santa Clara,29413,11.08,28.7,"August 10, 1887",37.226611,-121.974680
48,Milpitas,City,Santa Clara,66790,13.59,35.2,"January 26, 1954",37.428272,-121.906624
49,Monte Sereno,City,Santa Clara,3341,1.62,4.2,"May 14, 1957",37.236333,-121.992458
51,Morgan Hill,City,Santa Clara,37882,12.88,33.4,"November 10, 1906",37.130408,-121.654497
52,Mountain View,City,Santa Clara,74066,12.00,31.1,"November 7, 1902",37.389389,-122.083210
60,Palo Alto,City,Santa Clara,64403,23.88,61.8,"April 23, 1894",37.444329,-122.159847
78,San Jose,City,Santa Clara,945942,176.53,457.2,"March 27, 1850",37.336191,-121.890583
84,Santa Clara,City,Santa Clara,116468,18.41,47.7,"July 5, 1852",37.233325,-121.684635
86,Saratoga,City,Santa Clara,29926,12.38,32.1,"October 22, 1956",37.263832,-122.023015
92,Sunnyvale,City,Santa Clara,140081,21.99,57.0,"December 24, 1912",37.368830,-122.036350

In [21]:
# Create new df for Santa Clara County. 

sclara = df[df['county'] == 'Santa Clara'].reset_index(drop=True)
sclara.head(13)

,city/town,type,county,population,sq_mi,km2,incorporated,latitude,longitude
0,Campbell,City,Santa Clara,39349,5.80,15.0,"March 28, 1952",37.287063,-121.944882
1,Cupertino,City,Santa Clara,58302,11.26,29.2,"October 10, 1955",37.322893,-122.032290
2,Gilroy,City,Santa Clara,48821,16.15,41.8,"March 12, 1870",37.006508,-121.563172
3,Los Altos,City,Santa Clara,28976,6.49,16.8,"December 1, 1952",37.379063,-122.116578
4,Los Altos Hills,Town,Santa Clara,7922,8.80,22.8,"January 27, 1956",37.379663,-122.137464
5,Los Gatos,Town,Santa Clara,29413,11.08,28.7,"August 10, 1887",37.226611,-121.974680
6,Milpitas,City,Santa Clara,66790,13.59,35.2,"January 26, 1954",37.428272,-121.906624
7,Monte Sereno,City,Santa Clara,3341,1.62,4.2,"May 14, 1957",37.236333,-121.992458
8,Morgan Hill,City,Santa Clara,37882,12.88,33.4,"November 10, 1906",37.130408,-121.654497
9,Mountain View,City,Santa Clara,74066,12.00,31.1,"November 7, 1902",37.389389,-122.083210
10,Palo Alto,City,Santa Clara,64403,23.88,61.8,"April 23, 1894",37.444329,-122.159847
11,San Jose,City,Santa Clara,945942,176.53,457.2,"March 27, 1850",37.336191,-121.890583
12,Santa Clara,City,Santa Clara,116468,18.41,47.7,"July 5, 1852",37.233325,-121.684635

#### Sales Data

In [22]:
# Read in home sales data
sales = pd.read_csv('santa_clara_co_sales_2019.csv')
sales.head()

    city/town   average_price    median_price
0     Alviso     $888,000.00     $888,000.00
1         NaN             NaN             NaN
2   Campbell   $1,482,331.00   $1,385,000.00
3         NaN             NaN             NaN
4  Cupertino   $2,303,351.00   $2,250,000.00

In [23]:
# Drop nulls
sales.dropna(subset=["city/town"], axis=0, inplace=True)
sales

           city/town   average_price    median_price
0            Alviso     $888,000.00     $888,000.00
2          Campbell   $1,482,331.00   $1,385,000.00
4         Cupertino   $2,303,351.00   $2,250,000.00
6            Gilroy     $863,170.00     $781,000.00
8         Los Altos   $3,481,950.00   $3,288,000.00
10  Los Altos Hills   $4,498,349.00   $4,200,000.00
12        Los Gatos   $2,340,757.00   $2,185,000.00
14         Milpitas   $1,133,620.00   $1,090,000.00
16     Monte Sereno   $3,349,917.00   $3,125,000.00
18      Morgan Hill   $1,125,291.00   $1,025,000.00
20    Mountain View   $2,207,567.00   $2,126,500.00
22        Palo Alto   $3,466,410.00   $3,080,000.00
24         San Jose   $1,189,912.00   $1,100,000.00
26       San Martin   $1,231,047.00   $1,112,500.00
28      Santa Clara   $1,385,798.00   $1,357,500.00
30         Saratoga   $2,941,170.00   $2,697,500.00
32         Stanford   $2,689,390.00   $2,600,000.00
34        Sunnyvale   $1,753,265.00   $1,732,500.00

In [24]:
print(sales.shape)
sales['city/town'].tolist()

(18, 3)

['Alviso ',
 'Campbell ',
 'Cupertino ',
 'Gilroy ',
 'Los Altos ',
 'Los Altos Hills ',
 'Los Gatos ',
 'Milpitas ',
 'Monte Sereno ',
 'Morgan Hill ',
 'Mountain View ',
 'Palo Alto ',
 'San Jose ',
 'San Martin ',
 'Santa Clara ',
 'Saratoga ',
 'Stanford ',
 'Sunnyvale ']

In [25]:
print(sclara.shape)
sclara['city/town'].tolist()

(15, 9)

['Campbell',
 'Cupertino',
 'Gilroy',
 'Los Altos',
 'Los Altos Hills',
 'Los Gatos',
 'Milpitas',
 'Monte Sereno',
 'Morgan Hill',
 'Mountain View',
 'Palo Alto',
 'San Jose',
 'Santa Clara',
 'Saratoga',
 'Sunnyvale']

In [26]:
# Drop Alviso and Stanford from sales dataframe
sales = sales.drop([0])
sales = sales.drop([32])
sales

           city/town   average_price    median_price
2          Campbell   $1,482,331.00   $1,385,000.00
4         Cupertino   $2,303,351.00   $2,250,000.00
6            Gilroy     $863,170.00     $781,000.00
8         Los Altos   $3,481,950.00   $3,288,000.00
10  Los Altos Hills   $4,498,349.00   $4,200,000.00
12        Los Gatos   $2,340,757.00   $2,185,000.00
14         Milpitas   $1,133,620.00   $1,090,000.00
16     Monte Sereno   $3,349,917.00   $3,125,000.00
18      Morgan Hill   $1,125,291.00   $1,025,000.00
20    Mountain View   $2,207,567.00   $2,126,500.00
22        Palo Alto   $3,466,410.00   $3,080,000.00
24         San Jose   $1,189,912.00   $1,100,000.00
26       San Martin   $1,231,047.00   $1,112,500.00
28      Santa Clara   $1,385,798.00   $1,357,500.00
30         Saratoga   $2,941,170.00   $2,697,500.00
34        Sunnyvale   $1,753,265.00   $1,732,500.00

In [27]:
# Reset index
# sales.reset_index(drop=True, inplace=True)
sales = sales.reset_index()
sales.head()

   index         city/town   average_price    median_price
0      2         Campbell   $1,482,331.00   $1,385,000.00
1      4        Cupertino   $2,303,351.00   $2,250,000.00
2      6           Gilroy     $863,170.00     $781,000.00
3      8        Los Altos   $3,481,950.00   $3,288,000.00
4     10  Los Altos Hills   $4,498,349.00   $4,200,000.00

In [28]:
# Drop old index

sales = sales.drop(['index'], axis=1)
sales.head()

          city/town   average_price    median_price
0         Campbell   $1,482,331.00   $1,385,000.00
1        Cupertino   $2,303,351.00   $2,250,000.00
2           Gilroy     $863,170.00     $781,000.00
3        Los Altos   $3,481,950.00   $3,288,000.00
4  Los Altos Hills   $4,498,349.00   $4,200,000.00

In [29]:
# Strip spaces from names in sales df
sales['city/town']=sales['city/town'].str.strip()
sales['city/town'].tolist()

['Campbell',
 'Cupertino',
 'Gilroy',
 'Los Altos',
 'Los Altos Hills',
 'Los Gatos',
 'Milpitas',
 'Monte Sereno',
 'Morgan Hill',
 'Mountain View',
 'Palo Alto',
 'San Jose',
 'San Martin',
 'Santa Clara',
 'Saratoga',
 'Sunnyvale']

In [30]:
# Merge dataframes

df = pd.concat([sclara.set_index('city/town'), sales.set_index('city/town')], axis=1, join='inner')
df.reset_index(inplace=True)
df.head()

,city/town,type,county,population,sq_mi,km2,incorporated,latitude,longitude,average_price,median_price
0,Campbell,City,Santa Clara,39349,5.80,15.0,"March 28, 1952",37.287063,-121.944882,"$1,482,331.00","$1,385,000.00"
1,Cupertino,City,Santa Clara,58302,11.26,29.2,"October 10, 1955",37.322893,-122.032290,"$2,303,351.00","$2,250,000.00"
2,Gilroy,City,Santa Clara,48821,16.15,41.8,"March 12, 1870",37.006508,-121.563172,"$863,170.00","$781,000.00"
3,Los Altos,City,Santa Clara,28976,6.49,16.8,"December 1, 1952",37.379063,-122.116578,"$3,481,950.00","$3,288,000.00"
4,Los Altos Hills,Town,Santa Clara,7922,8.80,22.8,"January 27, 1956",37.379663,-122.137464,"$4,498,349.00","$4,200,000.00"

# Visualize

In [31]:
# Get index for City of Santa Clara for map

df[df['city/town']=='Santa Clara']

,city/town,type,county,population,sq_mi,km2,incorporated,latitude,longitude,average_price,median_price
12,Santa Clara,City,Santa Clara,116468,18.41,47.7,"July 5, 1852",37.233325,-121.684635,"$1,385,798.00","$1,357,500.00"

In [32]:
# create map of the cities in Santa Clara County with the ciyt of Santa Clara as the focal point
map_df = folium.Map(location=[df.iloc[12,7], df.iloc[12,8]], zoom_start=10)

# add markers to map
for lat, lng, name, county in zip(df['latitude'], df['longitude'], df['city/town'], df['county']):
    label = '{}, {}'.format(county, name)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_df)  
    
map_df

## Foursquare Data

In [33]:
CLIENT_ID = 'S5JB2KFD1NTX3EQLZEUCB5OLMPQTFOITAQG1ZMHVNB12UFH0' # your Foursquare ID
CLIENT_SECRET = '2SV2BAJSKBTEXPH41FHT2X3P1M1VQKYLZ54213I0VAZU2JPT' # your Foursquare Secret
VERSION = '20200629' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: S5JB2KFD1NTX3EQLZEUCB5OLMPQTFOITAQG1ZMHVNB12UFH0
CLIENT_SECRET:2SV2BAJSKBTEXPH41FHT2X3P1M1VQKYLZ54213I0VAZU2JPT

In [34]:
df.loc[0, 'city/town']

'Campbell'

Get the neighborhood's latitude and longitude values.

In [35]:
city_latitude = df.loc[0, 'latitude']
city_longitude = df.loc[0, 'longitude'] 

city_name = df.loc[0, 'city/town'] 

print('Latitude and longitude values of {} are {}, {}.'.format(city_name, 
                                                               city_latitude, 
                                                               city_longitude))

Latitude and longitude values of Campbell are 37.2870626, -121.9448818.

In [36]:
#Foursquare rate limits: https://developer.foursquare.com/docs/places-api/rate-limits/
    
LIMIT = 100 # limit of number of venues returned by Foursquare API

radius = 500 # define radius

# create URL
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    city_latitude, 
    city_longitude, 
    radius, 
    LIMIT)

In [37]:
results = requests.get(url).json()

In [38]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [39]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  This is separate from the ipykernel package so we can avoid doing imports until

                               name          categories        lat         lng
0                     Manresa Bread              Bakery  37.287099 -121.946670
1                   Blue Line Pizza         Pizza Place  37.287142 -121.942620
2                           Therapy            Boutique  37.287187 -121.943864
3     A Bellagio Italian Restaurant  Italian Restaurant  37.286506 -121.943794
4  Spread Deli & Bottles - Campbell      Sandwich Place  37.287158 -121.946837

In [40]:
# Campbell only
print('{} venues returned from Foursquare'.format(nearby_venues.shape[0]))

47 venues returned from Foursquare

In [41]:
# Create function to generate venues for all cities in Santa Clara County

def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['city/town', 
                  'City Latitude', 
                  'City Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [42]:
# scc is for santa clara county
scc_venues = getNearbyVenues(names=df['city/town'],
                                   latitudes=df['latitude'],
                                   longitudes=df['longitude']
                                  )

Campbell
Cupertino
Gilroy
Los Altos
Los Altos Hills
Los Gatos
Milpitas
Monte Sereno
Morgan Hill
Mountain View
Palo Alto
San Jose
Santa Clara
Saratoga
Sunnyvale

In [43]:
print(scc_venues.shape)
scc_venues.head()

(545, 7)

,city/town,City Latitude,City Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Campbell,37.287063,-121.944882,Manresa Bread,37.287099,-121.946670,Bakery
1,Campbell,37.287063,-121.944882,Blue Line Pizza,37.287142,-121.942620,Pizza Place
2,Campbell,37.287063,-121.944882,Therapy,37.287187,-121.943864,Boutique
3,Campbell,37.287063,-121.944882,A Bellagio Italian Restaurant,37.286506,-121.943794,Italian Restaurant
4,Campbell,37.287063,-121.944882,Spread Deli & Bottles - Campbell,37.287158,-121.946837,Sandwich Place

In [44]:
# Count of venues per city
scc_venues.groupby('city/town').count()

,City Latitude,City Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
city/town,,,,,,
Campbell,47,47,47,47,47,47
Cupertino,41,41,41,41,41,41
Gilroy,5,5,5,5,5,5
Los Altos,71,71,71,71,71,71
Los Altos Hills,1,1,1,1,1,1
Los Gatos,10,10,10,10,10,10
Milpitas,44,44,44,44,44,44
Monte Sereno,1,1,1,1,1,1
Morgan Hill,45,45,45,45,45,45
Mountain View,60,60,60,60,60,60
Palo Alto,73,73,73,73,73,73
San Jose,100,100,100,100,100,100
Sunnyvale,47,47,47,47,47,47

In [46]:
print('There are {} uniques categories.'.format(len(scc_venues['Venue Category'].unique())))

There are 164 uniques categories.

In [48]:
# one hot encoding
scc_onehot = pd.get_dummies(scc_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
scc_onehot['city/town'] = scc_venues['city/town'] 

# move neighborhood column to the first column
fixed_columns = [scc_onehot.columns[-1]] + list(scc_onehot.columns[:-1])
scc_onehot = scc_onehot[fixed_columns]

scc_onehot.head()

,city/town,ATM,Accessories Store,American Restaurant,Arcade,Art Gallery,Art Museum,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,Automotive Shop,BBQ Joint,Bagel Shop,Bakery,Bank,Bar,Baseball Field,Beer Bar,Big Box Store,Board Shop,Bookstore,Boutique,Brazilian Restaurant,Breakfast Spot,Brewery,Bubble Tea Shop,Burger Joint,Burrito Place,Bus Line,Bus Station,Café,Cajun / Creole Restaurant,Candy Store,Caribbean Restaurant,Chinese Restaurant,Chocolate Shop,Clothing Store,Cocktail Bar,Coffee Shop,Comedy Club,Comfort Food Restaurant,Comic Shop,Concert Hall,Convenience Store,Cosmetics Shop,Creperie,Dance Studio,Deli / Bodega,Department Store,Design Studio,Dessert Shop,Dim Sum Restaurant,Diner,Dive Bar,Dog Run,Donut Shop,Dumpling Restaurant,Electronics Store,Eye Doctor,Falafel Restaurant,Farmers Market,Fast Food Restaurant,Fish & Chips Shop,Food,Food & Drink Shop,Food Court,Food Truck,French Restaurant,Fried Chicken Joint,Frozen Yogurt Shop,Furniture / Home Store,Gastropub,German Restaurant,Gourmet Shop,Greek Restaurant,Grocery Store,Gym,Gym / Fitness Center,Hardware Store,Hawaiian Restaurant,Health & Beauty Service,Historic Site,History Museum,Hobby Shop,Home Service,Hookah Bar,Hotel,Hunan Restaurant,Ice Cream Shop,Indian Restaurant,Indie Movie Theater,Israeli Restaurant,Italian Restaurant,Japanese Restaurant,Juice Bar,Karaoke Bar,Knitting Store,Korean Restaurant,Latin American Restaurant,Liquor Store,Lounge,Malay Restaurant,Massage Studio,Mattress Store,Mediterranean Restaurant,Men's Store,Mexican Restaurant,Middle Eastern Restaurant,Miscellaneous Shop,Mobile Phone Shop,Mongolian Restaurant,Movie Theater,Moving Target,Music Venue,Nail Salon,New American Restaurant,Noodle House,North Indian Restaurant,Optical Shop,Outdoor Sculpture,Park,Pet Store,Pharmacy,Pizza Place,Plaza,Pool,Pub,Ramen Restaurant,Record Shop,Recording Studio,Rental Car Location,Restaurant,Salad Place,Salon / Barbershop,Salsa Club,Sandwich Place,Seafood Restaurant,Shipping Store,Spa,Spanish Restaurant,Sporting Goods Shop,Sports Bar,Steakhouse,Supplement Shop,Sushi Restaurant,Taco Place,Tailor Shop,Tapas Restaurant,Tea Room,Tennis Court,Thai Restaurant,Theater,Theme Restaurant,Thrift / Vintage Store,Toy / Game Store,Track Stadium,Trail,Train Station,Used Bookstore,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Wine Bar,Wings Joint,Yoga Studio
0,Campbell,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Campbell,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Campbell,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Campbell,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Campbell,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [49]:
# new shape
scc_onehot.shape

(545, 165)

In [50]:
scc_grouped = scc_onehot.groupby('city/town').mean().reset_index()
scc_grouped

,city/town,ATM,Accessories Store,American Restaurant,Arcade,Art Gallery,Art Museum,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,Automotive Shop,BBQ Joint,Bagel Shop,Bakery,Bank,Bar,Baseball Field,Beer Bar,Big Box Store,Board Shop,Bookstore,Boutique,Brazilian Restaurant,Breakfast Spot,Brewery,Bubble Tea Shop,Burger Joint,Burrito Place,Bus Line,Bus Station,Café,Cajun / Creole Restaurant,Candy Store,Caribbean Restaurant,Chinese Restaurant,Chocolate Shop,Clothing Store,Cocktail Bar,Coffee Shop,Comedy Club,Comfort Food Restaurant,Comic Shop,Concert Hall,Convenience Store,Cosmetics Shop,Creperie,Dance Studio,Deli / Bodega,Department Store,Design Studio,Dessert Shop,Dim Sum Restaurant,Diner,Dive Bar,Dog Run,Donut Shop,Dumpling Restaurant,Electronics Store,Eye Doctor,Falafel Restaurant,Farmers Market,Fast Food Restaurant,Fish & Chips Shop,Food,Food & Drink Shop,Food Court,Food Truck,French Restaurant,Fried Chicken Joint,Frozen Yogurt Shop,Furniture / Home Store,Gastropub,German Restaurant,Gourmet Shop,Greek Restaurant,Grocery Store,Gym,Gym / Fitness Center,Hardware Store,Hawaiian Restaurant,Health & Beauty Service,Historic Site,History Museum,Hobby Shop,Home Service,Hookah Bar,Hotel,Hunan Restaurant,Ice Cream Shop,Indian Restaurant,Indie Movie Theater,Israeli Restaurant,Italian Restaurant,Japanese Restaurant,Juice Bar,Karaoke Bar,Knitting Store,Korean Restaurant,Latin American Restaurant,Liquor Store,Lounge,Malay Restaurant,Massage Studio,Mattress Store,Mediterranean Restaurant,Men's Store,Mexican Restaurant,Middle Eastern Restaurant,Miscellaneous Shop,Mobile Phone Shop,Mongolian Restaurant,Movie Theater,Moving Target,Music Venue,Nail Salon,New American Restaurant,Noodle House,North Indian Restaurant,Optical Shop,Outdoor Sculpture,Park,Pet Store,Pharmacy,Pizza Place,Plaza,Pool,Pub,Ramen Restaurant,Record Shop,Recording Studio,Rental Car Location,Restaurant,Salad Place,Salon / Barbershop,Salsa Club,Sandwich Place,Seafood Restaurant,Shipping Store,Spa,Spanish Restaurant,Sporting Goods Shop,Sports Bar,Steakhouse,Supplement Shop,Sushi Restaurant,Taco Place,Tailor Shop,Tapas Restaurant,Tea Room,Tennis Court,Thai Restaurant,Theater,Theme Restaurant,Thrift / Vintage Store,Toy / Game Store,Track Stadium,Trail,Train Station,Used Bookstore,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Wine Bar,Wings Joint,Yoga Studio
0,Campbell,0.000000,0.000000,0.000000,0.021277,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.021277,0.000000,0.000000,0.000000,0.021277,0.00000,0.00,0.000000,0.021277,0.00,0.021277,0.000000,0.000000,0.021277,0.00,0.000000,0.000000,0.000000,0.000000,0.021277,0.000000,0.021277,0.000000,0.021277,0.021277,0.021277,0.000000,0.00,0.021277,0.000000,0.021277,0.021277,0.000000,0.021277,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.021277,0.000000,0.000000,0.00000,0.000000,0.021277,0.000000,0.000000,0.021277,0.000000,0.00,0.000000,0.000000,0.000000,0.021277,0.000000,0.00,0.00,0.000000,0.021277,0.000000,0.000000,0.000000,0.000000,0.000000,0.021277,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.042553,0.000000,0.000000,0.000000,0.063830,0.000000,0.000000,0.021277,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00000,0.000000,0.000000,0.063830,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.021277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.021277,0.00,0.000000,0.042553,0.000000,0.000000,0.000000,0.000000,0.021277,0.021277,0.000000,0.000000,0.000000,0.00,0.000000,0.063830,0.000000,0.000000,0.000000,0.000000,0.021277,0.00,0.021277,0.000000,0.021277,0.000000,0.000000,0.000000,0.021277,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.021277,0.000000,0.021277,0.00,0.00000,0.000000,0.000000,0.00,0.042553
1,Cupertino,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.048780,0.000000,0.000000,0.000000,0.000000,0.048780,0.024390,0.000000,0.000000,0.000000,0.02439,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.024390,0.024390,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.097561,0.000000,0.000000,0.024390,0.073171,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.02439,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.024390,0.000000,0.000000,0.02439,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.024390,0.000000,0.000000,0.048780,0.00,0.00,0.000000,0.000000,0.024390,0.000000,0.024390,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00,0.048780,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.02439,0.024390,0.000000,0.000000,0.02439,0.02439,0.048780,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.024390,0.000000,0.000000,0.000000,0.024390,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.024390,0.000000,0.000000,0.00,0.000000,0.024390,0.024390,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00,0.02439,0.048780,0.000000,0.00,0.024390
2,Gilroy,0.000000,0.000000,0.400000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.200000,0.000000,0.00,0.00000,0.000000,0.000000,0.00,0.000000
3,Los Altos,0.014085,0.000000,0.042254,0.014085,0.000000,0.00,0.000000,0.000000,0.014085,0.000000,0.000000,0.014085,0.028169,0.042254,0.000000,0.014085,0.000000,0.00000,0.00,0.014085,0.000000,0.00,0.042254,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.014085,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014085,0.042254,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014085,0.00000,0.014085,0.000000,0.014085,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.028169,0.000000,0.014085,0.000000,0.000000,0.00,0.014085,0.014085,0.000000,0.000000,0.000000,0.00,0.00,0.014085,0.028169,0.028169,0.000000,0.000000,0.014085,0.000000,0.014085,0.000000,0.014085,0.000000,0.0,0.00,0.014085,0.000000,0.028169,0.000000,0.000000,0.000000,0.056338,0.014085,0.000000,0.000000,0.014085,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00000,0.014085,0.000000,0.042254,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.014085,0.000000,0.014085,0.000000,0.000000,0.000000,0.028169,0.00,0.000000,0.056338,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014085,0.000000,0.00,0.000000,0.000000,0.000000,0.014085,0.000000,0.014085,0.000000,0.00,0.000000,0.000000,0.042254,0.000000,0.000000,0.000000,0.014085,0.000000,0.000000,0.014085,0.0,0.014085,0.014085,0.0,0.000000,0.000000,0.000000,0.00,0.00000,0.000000,0.014085,0.00,0.014085
4,Los Altos Hills,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00,0.00000,0.000000,0.000000,0.00,0.000000
5,Los Gatos,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.00000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.1,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.1,0.000000,0.000000,0.1,0.100000,0.000000,0.000000,0.00,0.00000,0.000000,0.000000,0.00,0.000000
6,Milpitas,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.022727,0.000000,0.022727,0.000000,0.000000,0.022727,0.000000,0.000000,0.000000,0.000000,0.00000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.045455,0.022727,0.00,0.000000,0.000000,0.045455,0.000000,0.000000,0.000000,0.045455,0.000000,0.000000,0.000000,0.022727,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.022727,0.000000,0.022727,0.045455,0.000000,0.000000,0.022727,0.000000,0.00000,0.000000,0.000000,0.045455,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.022727,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.022727,0.000000,0.000000,0.000000,0.022727,0.000000,0.000000,0.000000,0.000000,0.0,0.00,0.022727,0.022727,0.022727,0.090909,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.068182,0.00,0.000000,0.00,0.022727,0.000000,0.00000,0.000000,0.000000,0.045455,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.022727,0.000000,0.000000,0.000000,0.000000,0.022727,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.068182,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.022727,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00,0.00000,0.090909,0.000000,0.00,0.000000
7,Monte Sereno,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00,0.00000,0.000000,0.000000,0.00,0.000000
8,Morgan Hill,0.000000,0.000000,0.044444,0.000000,0.000000,0.00,0.022222,0.022222,0.000000,0.000000,0.022222,0.022222,0.000000,0.044444,0.022222,0.022222,0.000000,0.00000,0.00,0.000000,0.000000,0.00,0.000000,0.066667,0.000000,0.044444,0.00,0.000000,0.022222,0.022222,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.022222,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.022222,0.000000,0.000000,0.00000,0.022222,0.022222,0.000000,0.000000,0.022222,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.022222,0.022222,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.044444,0.000000,0.000000,0.000000,0.088889,0.022222,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00000,0.022222,0.000000,0.022222,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.022222,0.000000,0.00,0.000000,0.022222,0.022222,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.022222,0.000000,0.00,0.000000,0.000000,0.022222,0.000000,0.000000,0.000000,0.000000,0.00,0.022222,0.000000,0.022222,0.000000,0.000000,0.022222,0.000000,0.000000,0.000000,0.000000,0.0,0.022222,0.000000,0.0,0.000000,0.022222,0.000000,0.00,0.00000,0.044444,0.000000,0.00,0.000000
9,Mountain View,0.000000,0.000000,0.033333,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.016667,0.000000,0.000000,0.050000,0.033333,0.000000,0.000000,0.000000,0.00000,0.00,0.033333,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.016667,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,0.000000,0.083333,0.000000,0.00,0.000000,0.016667,0.016667,0.000000,0.016667,0.000000,0.000000,0.00000,0.000000,0.016667,0.000000,0.000000,0.000000,0.000000,0.000000,0.016667,0.000000,0.00000,0.000000,0.000000,0.016667,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.016667,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.033333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00,0.016667,0.000000,0.016667,0.033333,0.000000,0.000000,0.016667,0.016667,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00000,0.033333,0.000000,0.016667,0.00000,0.00000,0.000000,0.016667,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.066667,0.00,0.000000,0.016667,0.000000,0.033333,0.000000,0.016667,0.000000,0.000000,0.000000,0.000000,0.016667,0.00,0.016667,0.000000,0.016667,0.016667,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.050000,0.016667,0.016667,0.016667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.00,0.00000,0.000000,0.016667,0.00,0.033333
10,Palo Alto,0.000000,0.013699,0.013699,0.000000,0.013699,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.013699,0.000000,0.000000,0.00000,0.00,0.013699,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.013699,0.013699,0.054795,0.013699,0.000000,0.013699,0.013699,0.013699,0.013699,0.000000,0.054795,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.013699,0.000000,0.013699,0.00000,0.000000,0.000000,0.000000,0.027397,0.000000,0.000000,0.000000,0.000000,0.027397,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.027397,0.000000,0.013699,0.013699,0.00,0.00,0.000000,0.027397,0.013699,0.013699,0.027397,0.000000,0.000000,0.000000,0.013699,0.000000,0.000000,0.0,0.00,0.041096,0.000000,0.054795,0.027397,0.013699,0.013699,0.000000,0.013699,0.013699,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.00000,0.013699,0.000000,0.013699,0.0,0.000000,0.000000,0.027397,0.000000,0.000000,0.000000,0.000000,0.013699,0.00,0.000000,0.027397,0.000000,0.000000,0.013699,0.013699,0.000000,0.000000,0.000000,0.013699,0.027397,0.00,0.000000,0.013699,0.000000,0.000000,0.027397,0.000000,0.000000,0.00,0.000000,0.000000,0.013699,0.013699,0.000000,0.000000,0.013699,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.013699,0.000000,0.00,0.00000,0.013699,0.027397,0.00,0.013699
11,San Jose,0.000000,0.000000,0.010000,0.000000,0.010000,0.01,0.000000,0.020000,0.000000,0.000000,0.000000,0.010000,0.010000,0.000000,0.030000,0.000000,0.010000,0.00000,0.01,0.000000,0.000000,0.01,0.000000,0.000000,0.000000,0.010000,0.01,0.000000,0.000000,0.020000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.060000,0.040000,0.010000,0.01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.020000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.010000,0.000000,0.020000,0.000000,0.000000,0.01,0.000000,0.000000,0.000000,0.000000,0.000000,0.01,0.01,0.000000,0.020000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.01,0.010000,0.000000,0.030000,0.010000,0.000000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.020000,0.01,0.000000,0.01,0.010000,0.000000,0.00000,0.010000,0.000000,0.070000,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.01,0.010000,0.020000,0.020000,0.000000,0.050000,0.000000,0.000000,0.000000,0.000000,0.030000,0.000000,0.01,0.000000,0.050000,0.000000,0.010000,0.000000,0.010000,0.000000,0.01,0.020000,0.000000,0.040000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.020000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.01,0.00000,0.000000,0.010000,0.01,0.010000

In [51]:
scc_grouped.shape

(13, 165)

In [53]:
num_top_venues = 5

for hood in scc_grouped['city/town']:
    print("----"+hood+"----")
    temp = scc_grouped[scc_grouped['city/town'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Campbell----
                venue  freq
0      Sandwich Place  0.06
1  Italian Restaurant  0.06
2  Mexican Restaurant  0.06
3      Ice Cream Shop  0.04
4         Yoga Studio  0.04


----Cupertino----
                    venue  freq
0      Chinese Restaurant  0.10
1             Coffee Shop  0.07
2  Furniture / Home Store  0.05
3   Vietnamese Restaurant  0.05
4        Asian Restaurant  0.05


----Gilroy----
                 venue  freq
0  American Restaurant   0.4
1          Bus Station   0.2
2       Shipping Store   0.2
3        Train Station   0.2
4                  ATM   0.0


----Los Altos----
                 venue  freq
0   Italian Restaurant  0.06
1          Pizza Place  0.06
2  American Restaurant  0.04
3          Coffee Shop  0.04
4       Breakfast Spot  0.04


----Los Altos Hills----
                       venue  freq
0                Music Venue   1.0
1                        ATM   0.0
2   Mediterranean Restaurant   0.0
3         Mexican Restaurant   0.0
4  Middle Eastern Restaurant   0.0


----Los Gatos----
            venue  freq
0           Hotel   0.2
1            Pool   0.1
2  Baseball Field   0.1
3           Trail   0.1
4   Track Stadium   0.1


----Milpitas----
                   venue  freq
0  Vietnamese Restaurant  0.09
1      Indian Restaurant  0.09
2      Korean Restaurant  0.07
3         Sandwich Place  0.07
4     Mexican Restaurant  0.05


----Monte Sereno----
                       venue  freq
0               Home Service   1.0
1   Mediterranean Restaurant   0.0
2         Mexican Restaurant   0.0
3  Middle Eastern Restaurant   0.0
4         Miscellaneous Shop   0.0


----Morgan Hill----
                   venue  freq
0     Italian Restaurant  0.09
1                Brewery  0.07
2         Ice Cream Shop  0.04
3    American Restaurant  0.04
4  Vietnamese Restaurant  0.04


----Mountain View----
              venue  freq
0       Coffee Shop  0.08
1              Park  0.07
2  Sushi Restaurant  0.05
3            Bakery  0.05
4      Optical Shop  0.03


----Palo Alto----
                  venue  freq
0           Coffee Shop  0.05
1                  Café  0.05
2        Ice Cream Shop  0.05
3                 Hotel  0.04
4  Gym / Fitness Center  0.03


----San Jose----
                venue  freq
0  Mexican Restaurant  0.07
1        Cocktail Bar  0.06
2      Sandwich Place  0.05
3                 Pub  0.05
4         Coffee Shop  0.04


----Sunnyvale----
                venue  freq
0         Coffee Shop  0.09
1       Grocery Store  0.06
2  Chinese Restaurant  0.06
3        Burger Joint  0.04
4  Mexican Restaurant  0.04

In [54]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [56]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['city/town']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
city_venues_sorted = pd.DataFrame(columns=columns)
city_venues_sorted['city/town'] = scc_grouped['city/town']

for ind in np.arange(scc_grouped.shape[0]):
    city_venues_sorted.iloc[ind, 1:] = return_most_common_venues(scc_grouped.iloc[ind, :], num_top_venues)

city_venues_sorted.head()

,city/town,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Campbell,Sandwich Place,Mexican Restaurant,Italian Restaurant,Ice Cream Shop,Pizza Place,Yoga Studio,Farmers Market,Cocktail Bar,Breakfast Spot,Burger Joint
1,Cupertino,Chinese Restaurant,Coffee Shop,Vietnamese Restaurant,Furniture / Home Store,Hotel,Asian Restaurant,Mobile Phone Shop,Bakery,Yoga Studio,Miscellaneous Shop
2,Gilroy,American Restaurant,Shipping Store,Train Station,Bus Station,Yoga Studio,Diner,Eye Doctor,Electronics Store,Dumpling Restaurant,Donut Shop
3,Los Altos,Italian Restaurant,Pizza Place,American Restaurant,Sushi Restaurant,Mexican Restaurant,Bank,Coffee Shop,Breakfast Spot,Park,Farmers Market
4,Los Altos Hills,Music Venue,Farmers Market,Eye Doctor,Electronics Store,Dumpling Restaurant,Donut Shop,Dog Run,Dive Bar,Diner,Dim Sum Restaurant

# PCA Modeling

## Clustering

In [57]:
# set number of clusters
kclusters = 5

scc_grouped_clustering = scc_grouped.drop('city/town', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(scc_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 0, 3, 0, 1, 4, 0, 2, 0, 0], dtype=int32)

In [58]:
city_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

scc_merged = df

scc_merged = scc_merged.join(city_venues_sorted.set_index('city/town'), on='city/town')

scc_merged.head()

,city/town,type,county,population,sq_mi,km2,incorporated,latitude,longitude,average_price,median_price,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Campbell,City,Santa Clara,39349,5.80,15.0,"March 28, 1952",37.287063,-121.944882,"$1,482,331.00","$1,385,000.00",0.0,Sandwich Place,Mexican Restaurant,Italian Restaurant,Ice Cream Shop,Pizza Place,Yoga Studio,Farmers Market,Cocktail Bar,Breakfast Spot,Burger Joint
1,Cupertino,City,Santa Clara,58302,11.26,29.2,"October 10, 1955",37.322893,-122.032290,"$2,303,351.00","$2,250,000.00",0.0,Chinese Restaurant,Coffee Shop,Vietnamese Restaurant,Furniture / Home Store,Hotel,Asian Restaurant,Mobile Phone Shop,Bakery,Yoga Studio,Miscellaneous Shop
2,Gilroy,City,Santa Clara,48821,16.15,41.8,"March 12, 1870",37.006508,-121.563172,"$863,170.00","$781,000.00",3.0,American Restaurant,Shipping Store,Train Station,Bus Station,Yoga Studio,Diner,Eye Doctor,Electronics Store,Dumpling Restaurant,Donut Shop
3,Los Altos,City,Santa Clara,28976,6.49,16.8,"December 1, 1952",37.379063,-122.116578,"$3,481,950.00","$3,288,000.00",0.0,Italian Restaurant,Pizza Place,American Restaurant,Sushi Restaurant,Mexican Restaurant,Bank,Coffee Shop,Breakfast Spot,Park,Farmers Market
4,Los Altos Hills,Town,Santa Clara,7922,8.80,22.8,"January 27, 1956",37.379663,-122.137464,"$4,498,349.00","$4,200,000.00",1.0,Music Venue,Farmers Market,Eye Doctor,Electronics Store,Dumpling Restaurant,Donut Shop,Dog Run,Dive Bar,Diner,Dim Sum Restaurant

In [62]:
# Obtain coordinates for Santa Clara

address = 'Santa Clara, California'

geolocator = Nominatim(user_agent="http://nominatim.openstreetmap.org/reverse?email=jpander@gmail.com&format=xml&lat=-23.56320001&lon=-46.66140002&zoom=27&addressdetails=1")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Central Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Central Toronto are 37.2333253, -121.6846349.

In [68]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=10)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(scc_merged['latitude'], scc_merged['longitude'], scc_merged['city/town'], scc_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow, #rainbow[cluster-1],
        fill=True,
        fill_color=rainbow, #rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

#### Cluster 1

In [70]:
scc_merged.loc[scc_merged['Cluster Labels'] == 0, scc_merged.columns[[1] + list(range(5, scc_merged.shape[1]))]]

,type,km2,incorporated,latitude,longitude,average_price,median_price,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,City,15.0,"March 28, 1952",37.287063,-121.944882,"$1,482,331.00","$1,385,000.00",0.0,Sandwich Place,Mexican Restaurant,Italian Restaurant,Ice Cream Shop,Pizza Place,Yoga Studio,Farmers Market,Cocktail Bar,Breakfast Spot,Burger Joint
1,City,29.2,"October 10, 1955",37.322893,-122.032290,"$2,303,351.00","$2,250,000.00",0.0,Chinese Restaurant,Coffee Shop,Vietnamese Restaurant,Furniture / Home Store,Hotel,Asian Restaurant,Mobile Phone Shop,Bakery,Yoga Studio,Miscellaneous Shop
3,City,16.8,"December 1, 1952",37.379063,-122.116578,"$3,481,950.00","$3,288,000.00",0.0,Italian Restaurant,Pizza Place,American Restaurant,Sushi Restaurant,Mexican Restaurant,Bank,Coffee Shop,Breakfast Spot,Park,Farmers Market
6,City,35.2,"January 26, 1954",37.428272,-121.906624,"$1,133,620.00","$1,090,000.00",0.0,Vietnamese Restaurant,Indian Restaurant,Sandwich Place,Korean Restaurant,Café,Bubble Tea Shop,Chinese Restaurant,Fast Food Restaurant,Dive Bar,Mexican Restaurant
8,City,33.4,"November 10, 1906",37.130408,-121.654497,"$1,125,291.00","$1,025,000.00",0.0,Italian Restaurant,Brewery,Ice Cream Shop,Vietnamese Restaurant,American Restaurant,Bank,Burger Joint,Bus Station,Farmers Market,Restaurant
9,City,31.1,"November 7, 1902",37.389389,-122.083210,"$2,207,567.00","$2,126,500.00",0.0,Coffee Shop,Park,Bakery,Sushi Restaurant,Yoga Studio,Grocery Store,Indian Restaurant,Mediterranean Restaurant,Chinese Restaurant,Pool
10,City,61.8,"April 23, 1894",37.444329,-122.159847,"$3,466,410.00","$3,080,000.00",0.0,Ice Cream Shop,Coffee Shop,Café,Hotel,New American Restaurant,Spa,Greek Restaurant,Gym / Fitness Center,Electronics Store,Indian Restaurant
11,City,457.2,"March 27, 1850",37.336191,-121.890583,"$1,189,912.00","$1,100,000.00",0.0,Mexican Restaurant,Cocktail Bar,Pub,Sandwich Place,Sushi Restaurant,Coffee Shop,Ice Cream Shop,Restaurant,Bar,Café
14,City,57.0,"December 24, 1912",37.368830,-122.036350,"$1,753,265.00","$1,732,500.00",0.0,Coffee Shop,Chinese Restaurant,Grocery Store,Mexican Restaurant,Burger Joint,Bank,Pizza Place,Sandwich Place,Salad Place,Dog Run

#### Cluster 2

In [71]:
scc_merged.loc[scc_merged['Cluster Labels'] == 1, scc_merged.columns[[1] + list(range(5, scc_merged.shape[1]))]]

,type,km2,incorporated,latitude,longitude,average_price,median_price,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
4,Town,22.8,"January 27, 1956",37.379663,-122.137464,"$4,498,349.00","$4,200,000.00",1.0,Music Venue,Farmers Market,Eye Doctor,Electronics Store,Dumpling Restaurant,Donut Shop,Dog Run,Dive Bar,Diner,Dim Sum Restaurant

#### Cluster 3

In [72]:
scc_merged.loc[scc_merged['Cluster Labels'] == 2, scc_merged.columns[[1] + list(range(5, scc_merged.shape[1]))]]

,type,km2,incorporated,latitude,longitude,average_price,median_price,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
7,City,4.2,"May 14, 1957",37.236333,-121.992458,"$3,349,917.00","$3,125,000.00",2.0,Home Service,Yoga Studio,Dim Sum Restaurant,Falafel Restaurant,Eye Doctor,Electronics Store,Dumpling Restaurant,Donut Shop,Dog Run,Dive Bar

#### Cluster 4

In [73]:
scc_merged.loc[scc_merged['Cluster Labels'] == 3, scc_merged.columns[[1] + list(range(5, scc_merged.shape[1]))]]

,type,km2,incorporated,latitude,longitude,average_price,median_price,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
2,City,41.8,"March 12, 1870",37.006508,-121.563172,"$863,170.00","$781,000.00",3.0,American Restaurant,Shipping Store,Train Station,Bus Station,Yoga Studio,Diner,Eye Doctor,Electronics Store,Dumpling Restaurant,Donut Shop

#### Cluster 5

In [74]:
scc_merged.loc[scc_merged['Cluster Labels'] == 4, scc_merged.columns[[1] + list(range(5, scc_merged.shape[1]))]]

,type,km2,incorporated,latitude,longitude,average_price,median_price,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
5,Town,28.7,"August 10, 1887",37.226611,-121.97468,"$2,340,757.00","$2,185,000.00",4.0,Hotel,Theme Restaurant,Music Venue,Moving Target,Pool,Trail,Track Stadium,Baseball Field,Restaurant,Dessert Shop